<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order page</title>
    <link rel="stylesheet" href="css/order.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <style>
           @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
    </style>
    
</head>
<body>
    <!--imageandlinks-->
  
    <div class="head-banner">
        <div class="dropdown">
            <a class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="dropdown-content">
            <div class="flex">
                    <a href="index.html">Home</a>
                    <a href="product.html">Our products</a>
            </div>
            <div class="flex">
                    <a href="order.html">Order</a>
                    <a href="/personel.html">Personel</a>
            </div>
            
          
           
            </div>
        </div>
        <img src="images/v.jpg" alt="">
        <div class="j">
            <h4>Cusine house</h4>
        </div>
       
        <div class="link">
            <ul>
                <li class="d" ><a href="index.html">Home</a></li>
                <li><a href="product.html">Our products</a></li>
                <li><a href="">Order</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a href="personel.html">Personel</a></li>
            </ul>
        </div>
       
    </div>
   
    <div class="order">
        <h2>Order your food(pls note click on the cart to see your cart)</h2>
        
        <h3 id="meals">Meals</h3>
        <div class="link2">
            <ul>
                <li><a href="#meals">Meals</a></li>
                <li><a href="#pastries">Pastries</a></li>
                <li><a href="#Breakfast">Breakfast</a></li>
                <li><a href="#cakes">Cakes</a></li>
                <li><a href="#calu">Price calculator</a></li>
            </ul>
        </div>
        
        <h1><i class="fa fa-shopping-cart"></i></h1>
        <section>
            <div>
                <h3>Byrek</h3>
                <img src="images/byrek.jpg" alt="">
                <p>Stuffing the filo pastry with creamy feta cheese and spinach (sometimes lamb meat)</p>
                <p>Price:#5000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
            <div>
                <h3>Jollof fice</h3>
                <img src="images/joll.jpg" alt="">
                <p>It schocking that it is simply rice prepared with tomato, onion, pepper, and some other spices.</p>
                <p>Price:#2000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
            <div>
                <h3>Escudella</h3>
                <img src="images/escu.jpg" alt="">
                <p>You'll find chicken, veal, blood sausage, meatballs, and even pig snout and trotters </p>
                <p>Price:#2000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
            <div>
                <h3>Peppersoup</h3>
                <img src="images/pepper.jpg" alt="">
                <p>Light and spicy soup traditionally made with goat meat, but often with fish or other meat.</p>
                <p>Price:#1000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
        </section>
        <section>
            <div>
                <h3>Dolma</h3>
                <img src="images/dol.jpg" alt="">
                <p>Cabbage or grape leaves are wrapped around rice and minced meat and cooked in olive oil.</p>
                <p>Price:#1000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
            <div>
                <h3>Efo riro</h3>
                <img src="images/efo.jpg" alt="">
                <p>This recipe, as with many West African recipes, calls for palm oil, a crop that is native to the region</p>
                <p>Price:#2000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
            <div>
                <h3>Plov</h3>
                <img src="images/plo.jpg" alt="">
                <p>It's a saffron rice dish that has dried fruits and prunes, onions and herbs, and meat such as lamb.</p>
                <p>Price:#2000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
            <div>
                <h3>Beef stew</h3>
                <img src="images/bee.jpg" alt="">
                <p>It needs a handful of stuff, and to make sure the meat is soft while the sauce doesn't get burnt.</p>
                <p>Price:#2000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
        </section>
        <section>
            <div>
                <h3>Potatopancake</h3>
                <img src="images/pan.jpg" alt="">
                <p> It takes grated potatoes, mixed with eggs and minced onions and fried and you have drankii. </p>
                <p>Price:#2000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
            <div>
                <h3>Ofada</h3>
                <img src="images/ofa.jpg" alt="">
                <p>A stew made with spicy scotch bonnets, smoked dried shrimp, and iru (also known as locust beans).</p>
                <p>Price:#2000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
            <div>
                <h3>Smørrebrød</h3>
                <img src="images/som.jpg" alt="">
                <p>These open sandwiches are buttered rye bread with some types of eggs, cheese, meat and/or fish.</p>
                <p>Price:#2000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
            <div>
                <h3>Goulash</h3>
                <img src="images/gou.jpg" alt="">
                <p> often mixed with tomatoes, garlic, carrots, potatoes and beef. A particularly "kettle goulash,"</p>
                <p>Price:#2000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
        </section>
        <h3 id="pastries">Pastries</h3>
        <div class="link2">
            <ul>
                <li><a href="#meals">Meals</a></li>
                <li><a href="#pastries">Pastries</a></li>
                <li><a href="#Breakfast">Breakfast</a></li>
                <li><a href="#cakes">Cakes</a></li>
            </ul>
        </div>
        <section>
            <div>
                <h3>Croissant</h3>
                    <img src="images/cro.jpg" alt="">
                    <p>These  golden-crescent-shaped pastries are  made with pure butter and a slightly sweet yeast dough. </p>
                    <p>Price:#500</p>
                <span></span>
                <button>Add-cart</button>
            </div>
            <div>
                <h3>Doughnut</h3>
                    <img src="images/dou.jpg" alt="">
                    <p>There are many types of doughnuts  powdered, filled,  frosting, coconut, peanuts, or sprinkle</p>
                    <p>Price:#300</p>
                <span></span>
                <button>Add-cart</button>
            </div>
            <div>
                <h3>Borek</h3>
                <img src="images/bo.jpg" alt="">
                <p>sweet filling wrapped in yufka - thinly stretched sheets of dough made with flour, water, and salt.</p>
                <p>Price:#1000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
            <div>
                <h3>Churos</h3>
                <img src="images/chu.jpg" alt="">
                <p> Crispy, crunchy and fragrant, churros consist of deep-fried yeast dough encrusted with sugar</p>
                <p>Price:#3000</p>
                <span></span>
                <button>Add-cart</button>
            </div>
        </section>
        
    </div>
    <section>
        <div>
            <h3>BakLava</h3>
            <img src="images/bak.jpg" alt="">
            <p>with layers of phyllo dough intertwined with chopped nuts, all doused in a sweet, viscous syrup.</p>
            <p>Price:#1500</p>
            <span></span>
            <button>Add-cart</button>
        </div>
        <div>
            <h3>Eclair</h3>
            <img src="images/ec.jpg" alt="">
            <p>with an appealing glaze a crispy exterior, a soft doughy interior, and a sweet, creamy center</p>
            <p>Price:#1000</p>
            <span></span>
            <button>Add-cart</button>
        </div>
        <div>
         <h3>Brioche</h3>
         <img src="images/bri.jpg" alt="">
        <p>A cross between a pastry and a bread, with a high butter, milk, and egg to get pure class  </p>
        <p>Price:#500</p>
            <span></span>
            <button>Add-cart</button>
        </div>
        <div>
            <h3>Mooncake</h3>
                    <img src="images/moon.jpg" alt="">
                    <p>With lotus seed paste,  with red beans, roasted pork, mung beans, dates, and salted duck egg yolks.</p>
                    <p>Price:#1000</p>
            <span></span>
            <button>Add-cart</button>
        </div>
    </section>
    <section>
        <div>
            <h3>Brioche</h3>
                    <img src="images/bri.jpg" alt="">
                    <p>A cross between a pastry and a bread, with a high butter, milk, and egg to get pure class  </p>
                    <p>Price:#500</p>
            <span></span>
            <button>Add-cart</button>
        </div>
        <div>
            <h3>Cronut</h3>
            <img src="images/cron.jpg" alt="">
            <p>These flaky layer treat are fried in oil, filled with cream, rolled in sugar, and glazed on top.</p>
            <p>Price:#500</p>
            <span></span>
            <button>Add-cart</button>
        </div>
       
    </section>
    <h3 id="breakfast">Breakfast</h3>
    <div class="link2">
        <ul>
            <li><a href="#meals">Meals</a></li>
            <li><a href="#pastries">Pastries</a></li>
            <li><a href="#Breakfast">Breakfast</a></li>
            <li><a href="#cakes">Cakes</a></li>
        </ul>
    </div>
    <section>
        <div>
            <h3>English Breakfast</h3>
                        <img src="images/english.jpg" alt="">
                        <p> beans, sausages, bacon, eggs, mushrooms, hash browns and toast back with a cup of tea.</p>
                        <p>Price:#5000</p>
            <span></span>
            <button>Add-cart</button>
        </div>
        <div>
            <h3>Isreali Breakfast</h3>
            <img src="images/isreali.jpg" alt="">
            <p>Fresh bread, a variety of hard and soft cheeses, fresh juice, olives, jam and butter are all regulars</p>
            <p>Price:#2000</p>
            <span></span>
            <button>Add-cart</button>
        </div>
        <div>
            <h3>Polish Breakfast</h3>
                        <img src="images/poland.jpg" alt="">
                        <p>scrambled eggs covered with slices of custom-made kielbasa and joined by two potato pancakes. </p>
                        <p>Price:#2000</p>
            <span></span>
            <button>Add-cart</button>
        </div>
    </section>
    <h3 id="cakes">Cakes</h3>
    <div class="link2">
        <ul>
            <li><a href="#meals">Meals</a></li>
            <li><a href="#pastries">Pastries</a></li>
            <li><a href="#Breakfast">Breakfast</a></li>
            <li><a href="#cakes">Cakes</a></li>
        </ul>
    </div>
    <section>
        <div>
            <h3>Yellow Butter cake</h3>
            <img src="images/butter.jpg" alt="">
            <p>Yellow butter cakes often involve creaming the butter and sugar together topped with fosting</p>
            <p>Price:#15,000</p>
            <span></span>
            <button>Add-cart</button>
        </div>
        <div>
            <h3>Red velvet cake</h3>
                    <img src="images/velvet.jpg" alt="">
                    <p> Made with  butter.Color classically comes of the reaction of buttermilk and cocoa powder.</p>
                    <p>Price:#20,000</p>
            <span></span>
            <button>Add-cart</button>
        </div>
        <div>
            <h3>Sponge cake</h3>
            <img src="images/sponge.jpg" alt="">
            <p>It gets its volume solely from whipped eggs —either whole eggs or simply whites. </p>
            <p>Price:#10,000</p>
            <span></span>
            <button>Add-cart</button>
        </div>
    </section>
    <h2 id="calu">Calculate your price</h2>
        <div data-ng-app="" data-ng-init="quantity=1;price=5000" class="cal">
             

            
            
            Quantity: <input type="number" ng-model="quantity">
            Price: <input type="number" ng-model="price" size="50">
            
            <p><b>Total in Naira:</b> {{quantity * price}}</p>
            
            </div>
        <div class="select">
         <h2>Your cart</h2>
         
        
            <a href="confirm.html">Confirm your order</a>
        </div>
        
    </div>
    <div class="foot">
        <footer>
            <h2>2020 © All Rights Reserved| Terms and Conditions|Privacy Policy</h2>
            <p>Website Developed By Cuisine. Call Us for events: 07069217291</p>
        </footer>
    </div>
</body>
</html>
<script type="text/javascript">
        var noti = document.querySelector('h1');
        var select = document.querySelector('.select');
        var button = document.getElementsByTagName('button');
        for(but of button)
        {
            but.addEventListener('click', (e)=>{
                var add  = Number(noti.getAttribute('data-count')|| 0);
                noti.setAttribute('data-count', add + 1);
                noti.classList.add('zero');

          
            //copy and paste element//
            var parent = e.target.parentNode;
            var clone = parent.cloneNode(true);
            select.appendChild(clone);
            clone.lastElementChild.innerText = "To buy click the link Above";
            if (clone) {
                noti.onclick=()=>{
                    select.classList.toggle('display');
                }
            }
            
        })
    }
</script>